$orange-color: rgb(255, 90, 57);
$border-color: #ececec;
$border-color-dark: #959595;
$light-gray: rgba(0, 0, 0, 0.5);
$basket-footer-height: 5rem;
$success-color: rgb(42, 202, 42);
$error-color: rgb(210, 12, 12)